#!/usr/bin/env python3
import rclpy
from rclpy.node import Node


class MigratedNode(Node):
    def __init__(self):
        super().__init__('migrated_node')
        # TODO: declare parameters and create publishers/subscriptions


def main():
    rclpy.init()
    node = MigratedNode()
    rclpy.spin(node)
    rclpy.shutdown()

if __name__ == '__main__':
    main()

